<html>

<a href="{% url meals.views.adiciona_ou_atualiza "meal" %}">Adicionar refeição</a>

<br>
<br>
<br>


{% if object_list %}
<table>
 <thead>
   <tr>
     <th>Id</th>
     <th>Dish name</th>
     <td>Datetime</td>
   </tr>
 </thead>
 <tbody>
   {% for object in object_list %}
   <tr>
     <td>{{ object.id }}</td>
     <td>{{ object.dish.name }}</td>
     <td>{{ object.datetime }}</td>
     <td>
       <a href="{% url meals.views.remove "meal" object.id %}">
            Excluir
          </a>
     </td>
     <td>
       <a href="{% url meals.views.adiciona_ou_atualiza "meal" object.id %}">
            Alterar
          </a>
     </td>
   </tr>
   {% endfor %}
 </tbody>
</table>
{% else %}
<p>Sem registros para listar</p>
{% endif %}
</html>